<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<b>Download the keystore for the components</b>
<table class="mt-1">
  <tr>
    <th>Component</th>
    <th>Certificate fingerprint (SHA-256)</th>
  </tr>
  <tr *ngFor="let component of this.session.currentComponents">
    <td>{{ component.label}}</td>
    <td>{{ this.getFingerprint(component.key) }}</td>
  </tr>
</table>

<div class="card mt-3">
  <div class="card-body">
    <form [formGroup]="downloadForm">
      <label class="form-check-label" for="customSuffix">Enter the name of the platform (e.g. 'KT_PROD')</label>
      <input class="form-control form-control-monospace me-sm-3" formControlName="customSuffix" id="customSuffix" type="text">
      <ul class="font-weight-light">
        <li>This field may be left empty.</li>
        <li>It must contain only letters, numbers and underscores.</li>
        <li>All the downloaded files will be tagged with it.</li>
      </ul>
    </form>
    <div *ngIf="downloadForm.invalid" class="alert alert-danger mt-2" role="alert">
      <em class="bi bi-exclamation-circle-fill error-icon">
        <div class="mt-2 ms-2 error-msg">
          Only alphanumeric chars and underscore are allowed.
        </div>
      </em>
    </div>
  </div>
</div>
<button (click)="downloadKeyStores()" [disabled]="downloadForm.invalid" class="btn btn-dark  mt-2" type="submit">Download</button>
