<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->

<sdm-board-members
		[activeMember]="activeMember"
		[boardMembers]="boardMembers"
		[passwords]="passwords"
>
	<div class="card mb-3">
		<div class="card-header">
			<span class="fw-bold">{{activeMember?.name}}</span>
		</div>
		<div class="card-body">
			<dl class="row align-items-center">
				<form #form="ngForm"
					  (submit)="setPassword()"
					  novalidate
				>
					<div class="row">
						<div class="col position-relative">
							<label class="form-label" for="password">{{'passwords.validation.password' | translate}}</label>
							<div class="input-group">
								<input
									#input
									(input)="markFormAsNotSubmitted()"
									[ngClass]="{'is-invalid': form.submitted && password.invalid, 'readonly': isValidating }"
									[formControl]="password"
									class="form-control"
									id="password"
									[type]="hideConfirmationPassword ? 'password' : 'text'"
								/>
								<button class="btn btn-with-border password-button align-items-center d-flex"
										type="button"
										(click)="hideConfirmationPassword = !hideConfirmationPassword">
									<i class="fa"
									   [ngClass]="{'bi bi-eye-slash': !hideConfirmationPassword, 'bi bi-eye-fill': hideConfirmationPassword}"></i>
								</button>
							</div>

							<p class="invalid-tooltip">
								<span
										*ngIf="password.errors?.['required']"
								>{{'passwords.validation.error.required' | translate}}</span>
								<span
										*ngIf="password.errors?.['invalid']"
								>{{'passwords.validation.error.invalid' | translate}}</span>
							</p>
						</div>

						<div class="col-auto align-self-end">
							<button [disabled]="isValidating || !enabled" class="btn btn-primary" type="submit">
								<ng-container *ngIf="isValidating">
									<span aria-hidden="true" class="spinner-border spinner-border-sm"></span>
									<span class="visually-hidden" role="status">{{ 'common.loading' | translate }}</span>
								</ng-container>
								{{ 'passwords.validation.validate' | translate }}
							</button>
						</div>
					</div>
				</form>
			</dl>
		</div>
	</div>
</sdm-board-members>
