<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<!-- Date of birth -->
<div *ngIf="configuration.identification === ExtendedFactor.DateOfBirth" class="mt-5">
	<h2 class="h4">
		<label for="dateOfBirth">
			{{ 'startvoting.dob' | translate }}
		</label>
	</h2>
	<div class="input-group input-group-lg">
		<vp-clearable-input buttonLabel="startvoting.dob.clear">
			<input
				#dateOfBirthInput
				[class.is-invalid]="formSubmitted && extendedFactor.invalid || extendedFactorBackendError.error"
				[formControl]="extendedFactor"
				[placeholder]="'datepicker.placeholder' | translate"
				aria-describedby="dateOfBirth-required extended-factor-invalid"
				class="form-control form-control-lg form-control-monospace"
				id="dateOfBirth"
				inputmode="numeric"
				mask="00.00.0000"
				required
				type="text"
			/>
		</vp-clearable-input>

		<input
			#datepicker="ngbDatepicker"
			(dateSelect)="datePickerSelectedDate = $event"
			[maxDate]="datepickerMaxDate"
			[minDate]="datepickerMinDate"
			[ngModel]="extendedFactor.value"
			[positionTarget]="datepickerButton"
			[startDate]="datePickerSelectedDate || datepickerDefaultDate"
			aria-hidden="true"
			ngbDatepicker
			type="hidden"
		>

		<button #datepickerButton (click)="datepicker.toggle()" class="btn btn-outline-dark" type="button">
			<vp-icon name="calendar"></vp-icon>
			<span class="visually-hidden">{{'datepicker.open' | translate}}</span>
		</button>
	</div>

	<p
			*ngIf="formSubmitted && extendedFactor?.invalid && !extendedFactorBackendError.error"
			class="alert alert-warning mt-3"
			id="dateOfBirth-required"
	>
		{{ 'startvoting.validation.dob.required' | translate }}
	</p>
</div>

<!-- Year of birth -->
<div *ngIf="configuration.identification === ExtendedFactor.YearOfBirth" class="mt-5">
	<h2 class="h4">
		<label for="yearOfBirth">
			{{ 'startvoting.yob' | translate }}
		</label>
	</h2>

	<vp-clearable-input buttonLabel="startvoting.yob.clear">
		<input
				[class.is-invalid]="formSubmitted && extendedFactor?.invalid || extendedFactorBackendError.error"
				[formControl]="extendedFactor"
				aria-describedby="yearOfBirth-required extended-factor-invalid"
				class="form-control form-control-lg form-control-monospace"
				id="yearOfBirth"
				inputmode="numeric"
				mask="0000"
				required
				type="text"
		/>
	</vp-clearable-input>

	<p
			*ngIf="formSubmitted && extendedFactor?.invalid && !extendedFactorBackendError.error"
			class="alert alert-warning mt-3"
			id="yearOfBirth-required"
	>
		{{ 'startvoting.validation.yob.required' | translate }}
	</p>
</div>

<!-- ExtendedFactor error -->
<vp-backenderror
	#extendedFactorBackendError
	[includeOnly]="ErrorMessage.ExtendedFactorInvalid"
	alertId="extended-factor-invalid"
	class="mt-3"
></vp-backenderror>
