<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<div class="row flex-column gap-2 flex-sm-row gap-sm-0">
	<div class="col">
		<vp-list-details
				[headingDisplayLevel]="6"
				[headingLevel]="3"
				[list]="list"
		></vp-list-details>

		<button
				(click)="collapse.toggle()"
				[attr.aria-expanded]="!areDetailsCollapsed"
				class="btn btn-sm btn-link align-with-text mt-1"
				type="button"
		>
			<vp-icon [name]="areDetailsCollapsed ? 'chevron-down' : 'chevron-up'"></vp-icon>
			<span>{{ 'listselection.listresult.details' | translate }}</span>
		</button>
	</div>

	<div class="col-sm-3">
		<button
				(click)="selectList()"
				class="btn btn-outline-dark w-100"
				type="button"
		>
			<vp-icon name="check2"></vp-icon>
			<span aria-hidden="true">{{ 'listselection.listresult.select' | translate }}</span>
			<span class="visually-hidden">
        {{ 'listselection.listresult.select.screenreader' | translate }} {{list.details?.listType_attribute1}}
      </span>
		</button>
	</div>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="areDetailsCollapsed">
	<div class="card card-body">
		<ul class="list-unstyled m-0">
			<li *ngFor="let candidate of candidates">
				{{candidate.details.candidateType_attribute1}}
			</li>
			<li *ngIf="list.details?.listType_apparentment">
				{{list.details?.listType_apparentment}}
			</li>
			<li *ngIf="list.details?.listType_sousApparentment">
				{{list.details?.listType_sousApparentment}}
			</li>
		</ul>
	</div>
</div>
