/*!
 * (c) Copyright 2024 Swiss Post Ltd.
 */

/* You can add global styles to this file, and also import other style files */

// Bootstrap and its default variables
@import 'styles/bootstrap-overrides.scss';
@import 'styles/bootstrap-import.scss';

@import 'styles/components';

#main:focus-visible {
  outline: none;
}

.border-dashed {
  border-style: dashed !important;
}