<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->

<ng-container *ngIf="boardMembers$ | async as boardMembers">
	<h1 class="h2 fw-medium mb-3">
		{{ 'authoriseDecrypt.title' | translate }}
	</h1>
	<p class="mb-4">
		{{ 'authoriseDecrypt.instruction' | translate }}
	</p>

	<sdm-page-actions [forceComplete]="areAllPasswordsSet"
					  [forceError]="cannotValidatePassword">
		<i *ngIf="!areAllPasswordsSet" aria-hidden="true" class="bi bi-pen" onReady></i>
		<p *ngIf="!areAllPasswordsSet" onReady>
			{{ 'authoriseDecrypt.pageActions.setAllPasswords' | translate }}
		</p>

		<button
				(click)="decrypt()"
				[disabled]="!areAllPasswordsSet"
				[sdmRouterLinkTo]="WorkflowStep.Decrypt"
				class="btn btn-primary"
				type="button"
				onReady
		>
			<i aria-hidden="true" class="bi bi-arrow-right-circle"></i>
			{{ 'authoriseDecrypt.pageActions.decrypt' | translate }}
		</button>

		<i *ngIf="areAllPasswordsSet" aria-hidden="true" class="bi bi-arrow-right-circle" onComplete></i>
		<p *ngIf="areAllPasswordsSet" onComplete>
			{{ 'authoriseDecrypt.pageActions.allPasswordsSet' | translate }}
		</p>
		<button
				(click)="decrypt()"
				[disabled]="!areAllPasswordsSet"
				[sdmRouterLinkTo]="WorkflowStep.Decrypt"
				class="btn btn-primary"
				type="button"
				onComplete
		>
			<i aria-hidden="true" class="bi bi-arrow-right-circle"></i>
			{{ 'authoriseDecrypt.pageActions.decrypt' | translate }}
		</button>

		<i *ngIf="!areAllPasswordsSet" aria-hidden="true" class="bi bi-x-circle fs-2" onError></i>
		<p onError>
			{{ 'authoriseDecrypt.error.INVALID_SIGNATURE' | translate }}
		</p>
		<button
				(click)="back()"
				class="btn btn-primary"
				type="button"
				onError
		>
			<i aria-hidden="true" class="bi bi-arrow-right-circle"></i>
			{{ 'authoriseDecrypt.pageActions.back' | translate }}
		</button>

	</sdm-page-actions>

	<sdm-password-validation
			(allPasswordsSet)="areAllPasswordsSet = true"
			(passwordSet)="validatePassword($event)"
			[boardMembers]="boardMembers"
			[isPasswordValid]="isPasswordValid"
			[enabled]="!cannotValidatePassword"
	></sdm-password-validation>
</ng-container>
