<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<vp-questions
		[contestUserData]="contestAndValues?.contestUserData"
		[contest]="contestAndValues?.contest"
		[rightColumnTemplate]="answerTemplate"
></vp-questions>

<ng-template #answerTemplate let-answer="answer" let-question="question">
	<ng-container *ngIf="answer">
		<p class="word-break ps-3 h4 mb-0">{{ answer }}</p>
		<span
				*ngIf="answer === question.blankOption.text"
				class="visually-hidden"
		>{{ 'common.screenreader.nooptionselected' | translate }}</span
		>
	</ng-container>
</ng-template>
