<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<vp-contest-accordion
		*ngIf="contest"
		[cardClass]="formSubmitted && contestFormGroup?.invalid ? 'border border-2 border-danger' : ''"
		[subtitle]="this.accordionSubtitle$ ? (this.accordionSubtitle$ | async) : null"
		[title]="contest.title"
>
	<div class="contest-wrapper" id="contest-wrapper-{{ contest.id }}">
		<div class="contest">
			<p *ngIf="contest.howToVote" class="contest--instructions">
				{{ contest.howToVote }}
			</p>

			<vp-choose-questions
					*ngIf="contest.template === TemplateType.Options"
					[contestFormGroup]="contestFormGroup"
					[contest]="contest"
					[id]="'contest-' + contest.id"
			></vp-choose-questions>

			<vp-choose-candidates
					*ngIf="contest.template === TemplateType.ListsAndCandidates"
					[contestFormGroup]="contestFormGroup"
					[contest]="contest"
					[id]="'contest-' + contest.id"
					[showErrors]="!!formSubmitted"
			>
			</vp-choose-candidates>
		</div>
	</div>
</vp-contest-accordion>