<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<!--
    The following code tries to cover all cases with the possible combinations
    between alliance and cumuls. It needs some JS refactor and uses new values:

      isCumulAllowed               -> to check if cumul is allowed for the current candidate
      candidateCumul -> the current candidate cumul value
      candidateMaxAllowedCumul     -> the maximum cumul value for the given candidate (depends
                                      on the max allowed cumul of the contest and the initial
                                      cumul of the candidate)
-->

<div class="row flex-column gap-2 flex-sm-row gap-sm-0">
	<div class="col">
		<h3 *ngIf="candidate.isWriteIn; else candidateDetails" class="h6">
			{{ 'candidateselection.candidateresult.writeInPosition' | translate }}
		</h3>

		<ng-template #candidateDetails>
			<vp-candidate-details
					*ngIf="!candidate.isWriteIn"
					[candidate]="candidate"
					[headingDisplayLevel]="6"
					[headingLevel]="3"
					[showAllDetails]="true"
			></vp-candidate-details>
		</ng-template>
	</div>
	<div class="col-sm-3">

		<!-- cases for the button below:
			1- No cumul allowed AND candidate not selected yet
			2- Cumul allowed AND candidate cumul has not reach the max
			3- Alliance allowed AND candidate has not been selected in another list
			4- Candidate is selected in primary election OR candidate is implicitly eligible
		-->
		<button
				(click)="selectCandidate()"
				*ngIf="isSelectable"
				[attr.aria-describedby]="isCumulMessageShown ? 'candidate-cumul-message' : 'candidate-eligibility-message'"
				[disabled]="isSelectedOnCurrentPosition"
				class="btn btn-outline-dark w-100"
				type="button"
		>

			<!-- subcases:
				1- No cumul allowed AND candidate not selected yet
				2- Cumul allowed AND candidate cumul has not reach the max
				2.1- Candidate has no cumul yet
				3- Alliance allowed AND candidate has not been selected in another list
			-->
			<ng-container *ngIf="!isCumulAllowed || (candidateCumul === 0) || isSelectedOnCurrentPosition">
				<vp-icon name="check2"></vp-icon>
				<span aria-hidden="true">{{ 'candidateselection.candidateresult.select' | translate }}</span>
				<span class="visually-hidden">
          {{ 'candidateselection.candidateresult.select.screenreader' | translate }}
					{{candidate.details.candidateType_attribute1}}
        </span>
			</ng-container>

			<!-- subcases:
				2- Cumul allowed AND candidate cumul has not reach the max
				2.2- Candidate has some cumul
			-->
			<ng-container
					*ngIf="!candidate.isWriteIn && candidateCumul > 0 && candidateCumul < candidateMaxAllowedCumul && !isSelectedOnCurrentPosition"
			>
				<vp-icon name="plus-lg"></vp-icon>
				<span aria-hidden="true">{{ 'candidateselection.candidateresult.cumulate' | translate }}</span>
				<span class="visually-hidden">
          {{ 'candidateselection.candidateresult.cumulate.screenreader' | translate }}
					{{candidate.details.candidateType_attribute1}}
        </span>
			</ng-container>

		</button>

		<!-- cases for the div below:
			1- No cumul allowed AND candidate already selected
			2- Cumul allowed AND candidate cumul has reach the max
			3- Secondary election AND candidate not in primary election AND candidate not implicitly eligible
		-->
		<button
				*ngIf="isSelectedOnCurrentPosition || (!isCumulAllowed && isCandidateSelected) || (candidateCumul === candidateMaxAllowedCumul)"
				[attr.aria-describedby]="isCumulMessageShown ? 'candidate-cumul-message' : undefined"
				class="btn btn-outline-dark w-100"
				disabled
				type="button"
		>
			{{ 'candidateselection.candidateresult.noteligible' | translate }}
		</button>

		<!-- cases for the div below:
			1- Alliance allowed AND candidate already selected in another list
		-->
		<button
				*ngIf="isAliasSelected"
				[attr.aria-describedby]="isCumulMessageShown ? 'candidate-cumul-message' : undefined"
				class="btn btn-outline-dark w-100"
				disabled
				type="button"
		>{{ 'candidateselection.candidateresult.selectedinanotherlist' | translate }}</button>

		<button
				*ngIf="isSecondaryElection && !isImplicitlyEligible && !isSelectedInPrimaryElection && !isWriteIn"
				[attr.aria-describedby]="isEligibilityMessageShown ? 'candidate-cumul-message' : undefined"
				class="btn btn-outline-dark w-100"
				disabled
				type="button"
		>{{ 'candidateselection.candidateresult.noteligible' | translate }}</button>

		<!-- show only if the candidate has some cumul -->
		<p
				*ngIf="isCumulMessageShown"
				class="small text-muted text-center fst-italic mb-0 mt-1"
				id="candidate-cumul-message"
		>

			<!-- subcase: The candidate cumul has not reach the max -->
			<ng-container *ngIf="(candidateCumul < candidateMaxAllowedCumul) && !isSelectedOnCurrentPosition">
				{{ 'candidateselection.candidateresult.alreadyselected' | translate }}
			</ng-container>

			<!-- subcase: The candidate has been already selected on the current position -->
			<ng-container *ngIf="(candidateCumul < candidateMaxAllowedCumul) && isSelectedOnCurrentPosition">
				{{ 'candidateselection.candidateresult.alreadyselectedonposition' | translate }}
			</ng-container>

			<!-- subcase: The candidate cumul has reach the max -->
			<ng-container *ngIf="(candidateCumul === candidateMaxAllowedCumul)">
				{{ 'candidateselection.candidateresult.maximumcumulreached' | translate }}
				({{ candidateMaxAllowedCumul }})
			</ng-container>

		</p>

		<!-- show only if the candidate is eligible -->
		<p
				*ngIf="isEligibilityMessageShown"
				class="small text-muted text-center fst-italic mb-0 mt-1"
				id="candidate-eligibility-message"
		>

			<ng-container>
				{{ 'candidateselection.candidateresult.notinprimary' | translate }}
			</ng-container>

		</p>
	</div>
</div>
