<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<i *ngIf="isBootstrapIcon" [ngClass]="'bi-' + name" aria-hidden="true"></i>

<svg
		*ngIf="isVotingCardIcon"
		aria-hidden="true"
		fill="currentColor"
		focusable="false"
		height="1em"
		viewBox="0 0 24 24"
		width="1em"
		xmlns="http://www.w3.org/2000/svg">
	<path [attr.d]="votingCardIconPath"></path>
</svg>
