<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->

<h1 class="h2 fw-medium mb-3">
	{{ 'preConfigure.title' | translate }}
</h1>
<p class="mb-4">
	{{ 'preConfigure.instruction' | translate }}
</p>

<sdm-page-actions #pageActionsComponent [forceError]="loadingSummaryError" [forceInProgress]="loadingSummary">
	<!-- Loading summary in progress -->
	<ng-container *ngIf="!configurationSummary" onProgress>
		<div class="spinner">
			<span aria-hidden="true" class="spinner-border"></span>
			<span
					class="visually-hidden"
					role="status"
			>{{ 'common.loading' | translate }}</span>
		</div>
		<p>
			{{ 'preConfigure.pageActions.loadingSummary' | translate }}
		</p>
	</ng-container>

	<!-- Validate contest summary and start pre-configuration -->
	<ng-container *ngIf="configurationSummary" onReady>
		<i aria-hidden="true" class="bi bi-pen"></i>
		<p>
			{{ 'preConfigure.pageActions.instruction' | translate }}
		</p>
		<button
				(click)="reload()"
				[disabled]="isContestConfirmed"
				class="btn btn-link"
				type="button"
		>
			<i aria-hidden="true" class="bi bi-arrow-clockwise"></i>
			{{ 'preConfigure.pageActions.reload' | translate }}
		</button>
		<button
				(click)="preConfigure()"
				[disabled]="!isContestConfirmed"
				class="btn btn-primary"
				type="button"
		>
			<i aria-hidden="true" class="bi bi-check-circle"></i>
			{{ 'preConfigure.pageActions.preConfigure' | translate }}
		</button>
	</ng-container>

	<!-- Pre-configuration in progress -->
	<ng-container *ngIf="configurationSummary" onProgress>
		<div class="spinner">
			<span aria-hidden="true" class="spinner-border"></span>
			<span
					class="visually-hidden"
					role="status"
			>{{ 'common.loading' | translate }}</span>
		</div>
		<p>
			{{ 'preConfigure.pageActions.inProgress' | translate }}
		</p>
	</ng-container>

	<!-- Loading summary error -->
	<ng-container *ngIf="!configurationSummary" onError>
		<p>
			{{ 'preConfigure.pageActions.error.LOADING_SUMMARY_ERROR' | translate }}
		</p>
		<button
				(click)="reload()"
				class="btn btn-primary"
				type="button"
		>
			<i aria-hidden="true" class="bi bi-arrow-clockwise"></i>
			{{ 'preConfigure.pageActions.reload' | translate }}
		</button>
	</ng-container>

	<!-- Pre-configuration error -->
	<ng-container *ngIf="configurationSummary" onError>
		<p *ngIf="!pageActionsComponent.hasErrorFeedback">
			{{ 'preConfigure.pageActions.error.default' | translate }}
		</p>
		<p *ngIf="pageActionsComponent.hasErrorFeedback">
			{{ 'preConfigure.pageActions.error.' + pageActionsComponent.errorFeedbackCode | translate }}
		</p>
	</ng-container>

	<!-- Pre-configuration complete -->
	<ng-container onComplete>
		<i aria-hidden="true" class="bi bi-check-circle"></i>
		<p>
			{{ 'preConfigure.pageActions.complete' | translate }}
		</p>
		<button class="btn btn-primary" sdmRouterLinkNext type="button">
			{{ 'common.next' | translate }}
			<i aria-hidden="true" class="bi bi-arrow-right-circle"></i>
		</button>
	</ng-container>
</sdm-page-actions>

<sdm-progress/>

<sdm-scrollbar>
	<ng-container *ngIf="configurationSummary">
		<div class="card">
			<div class="card-header">
				{{ 'preConfigure.eventSummary.electionEvent.title' | translate }}
			</div>
			<div class="card-body">
				<dl class="row">
					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.alias' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.contestId }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.name' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ eventName }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.seed' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.electionEventSeed }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.contestDate' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.contestDate | date: 'dd.MM.yyyy HH:mm' }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.electionDate' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ 'preConfigure.eventSummary.dateFrom' | translate }}
						{{ configurationSummary.evotingFromDate | date: 'dd.MM.yyyy HH:mm' }}
						{{ 'preConfigure.eventSummary.dateTo' | translate }}
						{{ configurationSummary.evotingToDate | date: 'dd.MM.yyyy HH:mm' }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.gracePeriod' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.gracePeriod }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.totalVoters' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.voterTotal }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electionEvent.extendedFactor.title' | translate }}
					</dt>
					<dd class="col-sm-8">
					<span *ngFor="let extendedFactor of configurationSummary.extendedAuthenticationType">
						{{ 'preConfigure.eventSummary.electionEvent.extendedFactor.' + extendedFactor | translate }}
					</span>
					</dd>
				</dl>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				{{ 'preConfigure.eventSummary.electoralBoard.title' | translate }}
			</div>
			<div class="card-body">
				<dl class="row">
					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electoralBoard.id' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.electoralBoard.electoralBoardId }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electoralBoard.name' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.electoralBoard.electoralBoardName }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.electoralBoard.description' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ configurationSummary.electoralBoard.electoralBoardDescription }}
					</dd>

					<ng-container *ngIf="configurationSummary.electoralBoard.members?.length">
						<dt class="col-sm-4 text-danger">
							{{ 'preConfigure.eventSummary.electoralBoard.boardMembers' | translate }}
						</dt>
						<dd class="col-sm-8">
							<ul class="list-unstyled">
								<li *ngFor="let member of configurationSummary.electoralBoard.members">{{ member }}</li>
							</ul>
						</dd>
					</ng-container>
				</dl>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				{{ 'preConfigure.eventSummary.authorizations.titleRegular' | translate }}
				({{ regularAuthorizations.length }})
			</div>

			<div *ngIf="regularAuthorizations.length === 0" class="card-body">
				{{ 'preConfigure.eventSummary.authorizations.emptyRegular' | translate }}
			</div>
			<div
					*ngFor="let authorization of regularAuthorizations; last as isLastAuthorization"
					[class.border-bottom]="!isLastAuthorization"
					class="card-body"
			>
				<dl class="row">
					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.authorizations.name' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ authorization.authorizationName | translate }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.authorizations.date' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ 'preConfigure.eventSummary.dateFrom' | translate }}
						{{ authorization.fromDate | date: 'dd.MM.yyyy HH:mm' }}
						{{ 'preConfigure.eventSummary.dateTo' | translate }}
						{{ authorization.toDate | date: 'dd.MM.yyyy HH:mm' }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.authorizations.numberOfVoters' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ authorization.numberOfVoters }}
					</dd>
				</dl>

			</div>
		</div>

		<div class="card">
			<div class="card-header">
				{{ 'preConfigure.eventSummary.authorizations.titleTest' | translate }}
				({{ testAuthorizations.length }})
			</div>

			<div *ngIf="testAuthorizations.length === 0" class="card-body">
				{{ 'preConfigure.eventSummary.authorizations.emptyTest' | translate }}
			</div>
			<div
					*ngFor="let authorization of testAuthorizations; last as isLastAuthorization"
					[class.border-bottom]="!isLastAuthorization"
					class="card-body"
			>
				<dl class="row">
					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.authorizations.name' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ authorization.authorizationName | translate }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.authorizations.date' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ 'preConfigure.eventSummary.dateFrom' | translate }}
						{{ authorization.fromDate | date: 'dd.MM.yyyy HH:mm' }}
						{{ 'preConfigure.eventSummary.dateTo' | translate }}
						{{ authorization.toDate | date: 'dd.MM.yyyy HH:mm' }}
					</dd>

					<dt class="col-sm-4">
						{{ 'preConfigure.eventSummary.authorizations.numberOfVoters' | translate }}
					</dt>
					<dd class="col-sm-8">
						{{ authorization.numberOfVoters }}
					</dd>
				</dl>

			</div>
		</div>

		<div *ngFor="let contest of contests" class="card">
			<div *ngIf="contest.election">
				<div class="card-header">
					{{ 'preConfigure.eventSummary.elections.title' | translate }}
				</div>
				<div class="card-body">
					<dl class="row mb-3">
						<div class="list-group">
							<div class="list-group-item list-group-item-light">
								<ul class="list-unstyled">
									<li *ngFor="let description of contest.election.electionDescription">{{ description.longDescription }}</li>
								</ul>
							</div>
						</div>
						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.id' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ contest.id }}
						</dd>
						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.position' | translate }}
						</dt>
						<dd class="col-sm-8">
							<div *ngIf="contest.election.primarySecondaryType === 0">
								{{ getElectionGroupPosition(contest.id) }}
							</div>
							<div *ngIf="contest.election.primarySecondaryType > 0">
								{{ getElectionGroupPosition(contest.id) }}.{{ contest.election.electionPosition }}
							</div>
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.type.title' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ 'preConfigure.eventSummary.elections.type.' + contest.election.electionType | translate }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.primarySecondary.title' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ 'preConfigure.eventSummary.elections.primarySecondary.' + contest.election.primarySecondaryType | translate }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.numberOfMandates' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ contest.election.numberOfMandates }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.candidateAccumulation' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ contest.election.candidateAccumulation }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.writeInsAllowed' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ (contest.election.writeInsAllowed ? 'common.yes' : 'common.no') | translate }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.regularAuthorizations' | translate }}
							({{ regularAuthorizationsByElectionId.get(contest.id)?.length }})
						</dt>
						<dd class="col-sm-8">
							<ul class="list-unstyled">
								<li *ngIf="regularAuthorizationsByElectionId.get(contest.id)?.length === 0">
									{{ 'preConfigure.eventSummary.elections.emptyRegularAuthorizations' | translate }}
								</li>
								<li *ngFor="let authorization of regularAuthorizationsByElectionId.get(contest.id)">
									{{ authorization.authorizationName }}
								</li>
							</ul>
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.elections.testAuthorizations' | translate }}
							({{ testAuthorizationsByElectionId.get(contest.id)?.length }})
						</dt>
						<dd class="col-sm-8">
							<ul class="list-unstyled">
								<li *ngIf="testAuthorizationsByElectionId.get(contest.id)?.length === 0">
									{{ 'preConfigure.eventSummary.elections.emptyTestAuthorizations' | translate }}
								</li>
								<li *ngFor="let authorization of testAuthorizationsByElectionId.get(contest.id)">
									{{ authorization.authorizationName }}
								</li>
							</ul>
						</dd>
					</dl>

				</div>
			</div>
			<div *ngIf="contest.vote">
				<div class="card-header">
					{{ 'preConfigure.eventSummary.votes.title' | translate }}
				</div>
				<div class="card-body">
					<dl class="row mb-3">

						<div class="list-group">
							<div class="list-group-item list-group-item-light">
								<ul class="list-unstyled">
									<li *ngFor="let language of ['de', 'fr', 'it', 'rm']">
										<div class="d-flex gap-2">
											{{ contest.vote.voteDescription[language] }}
										</div>
									</li>
								</ul>
							</div>
						</div>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.votes.id' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ contest.id }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.votes.position' | translate }}
						</dt>
						<dd class="col-sm-8">
							{{ contest.vote.votePosition }}
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.votes.regularAuthorizations' | translate }}
							({{ regularAuthorizationsByVoteId.get(contest.id)?.length }})
						</dt>
						<dd class="col-sm-8">
							<ul class="list-unstyled">
								<li *ngIf="regularAuthorizationsByVoteId.get(contest.id)?.length === 0">
									{{ 'preConfigure.eventSummary.votes.emptyRegularAuthorizations' | translate }}
								</li>
								<li *ngFor="let authorization of regularAuthorizationsByVoteId.get(contest.id)">
									{{ authorization.authorizationName }}
								</li>
							</ul>
						</dd>

						<dt class="col-sm-4">
							{{ 'preConfigure.eventSummary.votes.testAuthorizations' | translate }}
							({{ testAuthorizationsByVoteId.get(contest.id)?.length }})
						</dt>
						<dd class="col-sm-8">
							<ul class="list-unstyled">
								<li *ngIf="testAuthorizationsByVoteId.get(contest.id)?.length === 0">
									{{ 'preConfigure.eventSummary.votes.emptyTestAuthorizations' | translate }}
								</li>
								<li *ngFor="let authorization of testAuthorizationsByVoteId.get(contest.id)">
									{{ authorization.authorizationName }}
								</li>
							</ul>
						</dd>
					</dl>

					<dl>
						{{ 'preConfigure.eventSummary.votes.questions' | translate }}
						<ul class="list-group">
							<li *ngFor="let question of questionsByVoteId.get(contest.id)" class="list-group-item list-group-item-light">
								<div class="d-flex gap-2">
									<p>
										{{ question.questionNumber }}.
									</p>

									<div class="flex-fill">
										<ul class="list-unstyled mb-3">
											<li
													*ngFor="let questionInfo of question.questionInfo"
													class="mb-2"
													[innerHTML]="questionInfo.longDescription | markdown: { inline: true } | async"
											></li>
										</ul>

										<div class="row">
											<div *ngFor="let answer of question.answers" class="col d-flex gap-2">
												<p>{{ answer.answerPosition }}.</p>

												<ul class="list-unstyled">
													<li *ngFor="let language of ['de', 'fr', 'it', 'rm']">
														{{ answer.answerInfo[language] }}
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</dl>
				</div>
			</div>
		</div>
	</ng-container>

	<div *ngIf="configurationSummary && workflowStatus !== WorkflowStatus.Complete" class="list-group mt-3">
		<div class="list-group-item list-group-item-info">
			<div class="form-check">
				<input
						[(ngModel)]="isContestConfirmed"
						class="form-check-input"
						id="validateSummary"
						type="checkbox"
						value=""
				/>
				<label class="form-check-label" for="validateSummary">
					{{ 'preConfigure.confirmation' | translate }}
				</label>
			</div>
		</div>
	</div>
</sdm-scrollbar>
