/*!
 * (c) Copyright 2024 Swiss Post Ltd.
 */

@use "sass:color";
@use "../bootstrap-overrides" as app;

$stepper-item-height: 1.8em;
$stepper-item-margin-x: 0.5rem;

@mixin stepper-item-variant($indicator-color, $label-color: app.$body-color) {
  // Use of the same color system as for alerts for consistency
  // See https://getbootstrap.com/docs/5.1/components/alerts/#loop
  $background: if($indicator-color, app.shift-color($indicator-color, app.$alert-bg-scale), app.$body-bg);
  $border: if($indicator-color, app.shift-color($indicator-color, app.$alert-border-scale), app.$border-color);
  $color: if($indicator-color, app.shift-color($indicator-color, app.$alert-color-scale), app.$body-color);
  @if (app.contrast-ratio($background, $color) < app.$min-contrast-ratio) {
    $color: mix($color, app.color-contrast($background), abs(app.$alert-color-scale));
  }

  --stepper-label-color: #{$label-color};
  --stepper-indicator-bg: #{$background};
  --stepper-indicator-border-color: #{$border};
  --stepper-indicator-color: #{$color};
}

.stepper {
  counter-reset: step-index;

  list-style: none;
  display: flex;
  border-bottom: app.$border-width solid app.$border-color;
  align-items: flex-end;
  padding: 0;
  margin: 0 0 (0.5 * $stepper-item-height);
}

.stepper-item {
  @include stepper-item-variant($indicator-color: app.$green, $label-color: app.$text-muted);
  counter-increment: step-index;
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: -0.5 * $stepper-item-height;
  color: var(--stepper-label-color);

  &:not(:first-child) {
    margin-left: $stepper-item-margin-x;
  }

  &:not(:last-child) {
    margin-right: $stepper-item-margin-x;
  }

  &:focus-visible {
    outline: none;
  }

  .stepper-indicator {
    display: block;
    width: $stepper-item-height;
    line-height: $stepper-item-height;
    margin: 0.225em auto 0;
    border-width: app.$border-width;
    border-style: solid;
    border-radius: 50%;
    color: var(--stepper-indicator-color);
    border-color: var(--stepper-indicator-border-color);
    background-color: var(--stepper-indicator-bg);
  }

  &[aria-current] {
    @include stepper-item-variant($indicator-color: app.$blue);
    font-weight: bold;

    @media (forced-colors: active) {
      --stepper-label-color: Highlight;
      --stepper-indicator-bg: Highlight;
      --stepper-indicator-border-color: Highlight;
      --stepper-indicator-color: HighlightText;

      forced-color-adjust: none;
    }
  }

  &[aria-current] ~ & {
    @include stepper-item-variant($indicator-color: null);
  }
}

@include app.media-breakpoint-down(sm) {
  .stepper-item {
    // visually hide stepper item names
    white-space: nowrap;
    text-indent: 100%;
    line-height: 0;
    overflow: hidden;

    .stepper-indicator {
      text-indent: 0;
    }
  }
}