<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->

<sdm-board-members
		[activeMember]="activeMember"
		[boardMembers]="boardMembers"
		[passwords]="passwords"
>
	<div class="card mb-3">
		<div class="card-header">
			<span class="fw-bold">{{activeMember?.name}}</span>
		</div>
		<div class="card-body">
			<dl class="row align-items-center">
				<form
						(submit)="setPassword()"
						[formGroup]="passwordForm"
						aria-describedby="passwordInstruction passwordPolicies"
						class="row"
						data-test="form"
				>
					<div class="col">
						<div class="input-group mb-4">
							<input
									class="form-control"
									[type]="hidePassword ? 'password' : 'text'"
									formControlName="password"
									id="password"
									placeholder="{{ 'passwords.creation.choosePassword' | translate }}"
							/>
							<button class="btn btn-with-border password-button" type="button" (click)="hidePassword = !hidePassword">
								<i class="fa" [ngClass]="{'bi bi-eye-slash': !hidePassword, 'bi bi-eye-fill': hidePassword}"></i>
							</button>
						</div>

						<ul aria-labelledby="passwordInstruction" class="list-unstyled ms-3 d-flex flex-column gap-2 mb-4" id="passwordPolicies">
							<li *ngFor="let policy of policies">
								<sdm-policy [attr.data-test]="'policy-' + policy"
											[isMet]="!!password.value && !hasError(policy)"
											[label]="'passwords.creation.passwordPolicy.' + policy | translate"></sdm-policy>
							</li>
						</ul>

						<div class="input-group mb-4">
							<input
									class="form-control"
									[type]="hideConfirmationPassword ? 'password' : 'text'"
									formControlName="confirmation"
									id="passwordConfirmation"
									placeholder="{{ 'passwords.creation.confirmPassword' | translate }}"
							/>
							<button class="btn btn-with-border password-button align-items-center d-flex" type="button" (click)="hideConfirmationPassword = !hideConfirmationPassword">
								<i class="fa" [ngClass]="{'bi bi-eye-slash': !hideConfirmationPassword, 'bi bi-eye-fill': hideConfirmationPassword}"></i>
							</button>
						</div>

					</div>

					<ul aria-labelledby="passwordInstruction" class="list-unstyled ms-3 d-flex flex-column gap-2 mb-4" id="passwordPolice">
						<sdm-policy [isMet]="!!password.value && !passwordForm.errors"
									[label]="'passwords.creation.passwordPolicy.confirmed' | translate"
									data-test="policy-confirmation"></sdm-policy>
					</ul>

					<div class="col-auto align-self-end ms-auto">
						<button [disabled]="passwordForm.invalid" class="btn btn-primary" type="submit">
							{{ 'passwords.creation.setPassword' | translate }}
						</button>
					</div>
				</form>
			</dl>
		</div>
	</div>
</sdm-board-members>