<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<vp-questions
		[contest]="contest"
		[rightColumnTemplate]="optionsTemplate"
></vp-questions>

<ng-template #optionsTemplate let-i="questionIndex" let-question="question">
	<div *ngIf="getQuestionFormGroup(i) as questionFormGroup" class="row">
		<div
				[attr.aria-labelledby]="'question-' + question.id"
				[formGroup]="questionFormGroup"
				class="question--options col"
				role="radiogroup"
		>
			<div *ngFor="let option of question.options" class="form-check">
				<input #test
					   [attr.name]="'answer-' + question.id"
					   [id]="'option-' + option.id"
					   [value]="option.id"
					   class="question--option form-check-input rounded-1"
					   formControlName="chosenOption"
					   type="radio"
				/>
				<label
						[for]="'option-' + option.id"
						class="form-check-label word-break ps-3 h5 fw-bold"
				>{{ option.text }}</label
				>
			</div>
		</div>

		<div class="col text-lg-end">
			<button
					(click)="resetRadioButtons(i);"
					*ngIf="question.optionsMinChoices === 0"
					[disabled]="!getChosenOption(i)"
					aria-live="polite"
					class="btn btn-link"
					id="btn_clear_{{ question?.id }}"
					type="button"
			>
				<vp-icon name="x-lg"></vp-icon>
				<span aria-hidden="true">{{'common.clear' | translate}}</span>
				<span class="visually-hidden">{{ 'choose.options.clearcurrent' | translate }}</span>
			</button>
		</div>
	</div>
</ng-template>
