<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->

<div ngbAccordion>
	<div (hide)="isExpanded = false" (show)="isExpanded = true" [collapsed]="!isExpanded" [ngClass]="cardClass"
		 ngbAccordionItem>
		<h4 ngbAccordionHeader>
			<button ngbAccordionButton>
                <span class="d-flex justify-content-between align-items-center w-100 pe-3">
                    <span class="ballot-group-title">
                      <span class="d-block h4 mb-0">{{ title }}</span>
                      <span *ngIf="subtitle">{{subtitle}}</span>
                    </span>
                    <span
							aria-hidden="true"
							class="d-none d-md-inline"
					>{{ (isExpanded ? 'common.hide' : 'common.show') | translate }}</span>
                  </span>
			</button>
		</h4>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					<ng-content></ng-content>
				</ng-template>
			</div>
		</div>
	</div>
</div>
