/*!
 * (c) Copyright 2024 Swiss Post Ltd.
 */

@use 'sass:map';
@use '../base';

.connection-indicator {
  color: base.$white;
  border: map.get(base.$border-widths, 2) solid base.$white;
  border-radius: base.$border-radius-sm;
  padding-block-start: 1px;
  padding-inline-end: 1px;

  .bi {
    display: block;
    font-size: map.get(base.$font-sizes, 6);
    transform: rotate(45deg) translateY(2px);
  }
}

.connection-popover {
  max-width: none;
}