@use 'sass:map';
@use '../base';

.table {
  border-collapse: separate;
  border-spacing: 0 map.get(base.$spacers, 2);
  margin-block-start: -1 * map.get(base.$spacers, 2);

  > thead > * > * {
    padding-block-start: map.get(base.$spacers, 2);
    padding-block-end: map.get(base.$spacers, 3);
    border-bottom-width: map.get(base.$border-widths, 3);
    border-bottom-color: var(--bs-primary);
  }

  > tbody > * > * {
    border-top-width: var(--bs-border-width);

    &:first-child {
        border-left-width: var(--bs-border-width);
    }

    &:last-child {
        border-right-width: var(--bs-border-width);
    }
  }
}
