<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<nav class="navbar navbar-expand bg-secondary border-bottom" data-bs-theme="dark">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1 fw-light">{{ applicationName }}</span>
		<span class="navbar-brand ms-auto mb-0 me-5 h1 fw-light">{{ eventInfo }}</span>
		<ul class="navbar-nav ms-auto" role="menubar">
			<li
				class="nav-item d-flex align-items-center px-2"
				*ngIf="remoteServerAvailable"
				[popoverTitle]="'header.votingServerConnection.title' | translate"
				[ngbPopover]="popoverContent"
				popoverClass="connection-popover"
				triggers="mouseenter:mouseleave"
			>
				<div
					*ngIf="votingServerConnected === null"
					class="spinner-grow text-light"
					style="--bs-spinner-width: 1.6rem; --bs-spinner-height: 1.6rem"
				></div>
				<div
					*ngIf="votingServerConnected !== null"
					[class.bg-success]="votingServerConnected"
					[class.bg-danger]="!votingServerConnected"
					class="connection-indicator"
				>
					<i class="bi bi-wifi"></i>
				</div>
				<ng-template #popoverContent>
					<ng-container *ngIf="votingServerConnected === null">
						{{ 'header.votingServerConnection.connecting' | translate }}
					</ng-container>

					<ng-container *ngIf="votingServerConnected !== null">
						{{ 'header.votingServerConnection.' + (votingServerConnected ? 'connectedTo' : 'noConnectionTo') | translate }}
						<span class="text-nowrap">{{ votingServerName }}</span>
					</ng-container>
				</ng-template>
			</li>
			<li class="nav-item" display="dynamic" ngbDropdown role="none">
				<a aria-haspopup="true" class="nav-link" data-test="currentLanguage" ngbDropdownToggle role="menuItem" tabindex="0">
					<span aria-hidden="true">{{ currentLocale.id | uppercase }}</span>
					<span class="visually-hidden">{{ 'header.languageSelector.button' | translate: currentLocale }}</span>
				</a>
				<div [attr.aria-label]="'header.languageSelector.menu' | translate" class="dropdown-menu" ngbDropdownMenu role="menu">
					<ng-container *ngFor="let locale of appLocales">
						<a
								(click)="$event.preventDefault(); setLocale(locale)"
								*ngIf="locale.id !== currentLocale.id"
								[lang]="locale.id"
								[title]="locale.name"
								class="text-center"
								data-test="language"
								href="#"
								ngbDropdownItem
								role="menuitem"
						>
							<span aria-hidden="true">{{ locale.id | uppercase }}</span>
							<span class="visually-hidden">{{ locale.name }}</span>
						</a>
					</ng-container>
				</div>
			</li>
		</ul>
		<span class="navbar-text" style="text-align: right; font-size: 0.7em">
			<span>{{ description }}</span>
			<br/>
			<span>V{{ version }}</span>
    	</span>
	</div>
</nav>
