<!--
  ~ (c) Copyright 2024 Swiss Post Ltd.
  -->
<vp-list
		*ngIf="hasList"
		[contestUserData]="contestVerifyData?.contestUserData"
		[contest]="contestVerifyData?.contest"
		[rightColumnTemplate]="listChoiceCode"
>
	<ng-template #listChoiceCode>
		<span class="visually-hidden">{{ 'verify.main.yourchoicecode' | translate }}</span>
		<p class="word-break ps-3 h4 mb-0">{{ getListChoiceCode() }}</p>
	</ng-template>
</vp-list>

<vp-candidates
		[contestUserData]="contestVerifyData?.contestUserData"
		[contest]="contestVerifyData?.contest"
		[rightColumnTemplate]="candidateChoiceCode"
>
	<ng-template #candidateChoiceCode let-candidateIndex="candidateIndex">
		<span class="visually-hidden">{{ 'verify.main.yourchoicecode' | translate }}</span>
		<p class="word-break ps-3 h4 mb-0">{{ getCandidateChoiceCode(candidateIndex) }}</p>
	</ng-template>
</vp-candidates>
